{% extends "base.html" %}

{% block content %}
    <h1>{{ legend }}</h1>
    <form method="post">
        {{ forma.hidden_tag() }}
        <div>{{ forma.nazvanie.label }}<br>{{ forma.nazvanie(size=60) }}</div>
        <div>{{ forma.teg.label }}<br>{{ forma.teg(size=3) }}</div>
        <div>{{ forma.ideologiya.label }}<br>{{ forma.ideologiya(size=40) }}</div>
        <div>{{ forma.istoricheskayaSpravka.label }}<br>{{ forma.istoricheskayaSpravka(rows=8, cols=80) }}</div>
        <div>{{ forma.flagFileName.label }}<br>{{ forma.flagFileName(size=40) }}</div>
        <div>{{ forma.submit() }}</div>
    </form>
{% endblock %}