{% extends "base.html" %}

{% block content %}
    <h1>Механики игры</h1>
    <ul>
    {% for m in mehaniki %}
        <li>
            <a href="{{ url_for('main.mechanicDetail', id=m.id) }}">{{ m.nazvanie }}</a>
            {% if current_user.is_admin %}
                <a href="{{ url_for('main.editMechanic', id=m.id) }}">[ред.]</a>
                <form action="{{ url_for('main.deleteMechanic', id=m.id) }}" method="post" style="display:inline;">
                    <button type="submit" onclick="return confirm('Удалить?')">[удалить]</button>
                </form>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% if current_user.is_admin %}
        <a href="{{ url_for('main.newMechanic') }}">Добавить механику</a>
    {% endif %}
{% endblock %}
