{% extends "base.html" %}

{% block content %}
    <h1>Регистрация</h1>
    <form method="post">
        {{ forma.hidden_tag() }}
        <div>
            {{ forma.username.label }}<br>
            {{ forma.username(size=40) }}
        </div>
        <div>
            {{ forma.email.label }}<br>
            {{ forma.email(size=40) }}
        </div>
        <div>
            {{ forma.password.label }}<br>
            {{ forma.password(size=40) }}
        </div>
        <div>
            {{ forma.password2.label }}<br>
            {{ forma.password2(size=40) }}
        </div>
        <div>
            {{ forma.submit() }}
        </div>
    </form>
{% endblock %}