{% extends "base.html" %}
{% block content %}
<h1>Результаты поиска: "{{ query }}"</h1>
{% if statyi %}<h2>Статьи</h2><ul>{% for s in statyi %}<li><a href="{{ url_for('main.statya', id=s.id) }}">{{ s.zagolovok }}</a></li>{% endfor %}</ul>{% endif %}
{% if strany %}<h2>Страны</h2><ul>{% for c in strany %}<li><a href="{{ url_for('main.countryDetail', teg=c.teg) }}">{{ c.nazvanie }} ({{ c.teg }})</a></li>{% endfor %}</ul>{% endif %}
{% if mehaniki %}<h2>Механики</h2><ul>{% for m in mehaniki %}<li><a href="{{ url_for('main.mechanicDetail', id=m.id) }}">{{ m.nazvanie }}</a></li>{% endfor %}</ul>{% endif %}
{% if unity %}<h2>Юниты</h2><ul>{% for u in unity %}<li><a href="{{ url_for('main.unitDetail', id=u.id) }}">{{ u.nazvanie }}</a></li>{% endfor %}</ul>{% endif %}
{% if tehnologii %}<h2>Технологии</h2><ul>{% for t in tehnologii %}<li><a href="{{ url_for('main.technologyDetail', id=t.id) }}">{{ t.nazvanie }}</a></li>{% endfor %}</ul>{% endif %}
{% if fokusy %}<h2>Фокусы</h2><ul>{% for f in fokusy %}<li><a href="{{ url_for('main.focusDetail', id=f.id) }}">{{ f.nazvanie }}</a></li>{% endfor %}</ul>{% endif %}
{% if kategorii %}<h2>Категории</h2><ul>{% for cat in kategorii %}<li><a href="{{ url_for('main.category', id=cat.id) }}">{{ cat.nazvanie }}</a></li>{% endfor %}</ul>{% endif %}
{% if not statyi and not strany and not mehaniki and not unity and not tehnologii and not fokusy and not kategorii %}<p>Ничего не найдено.</p>{% endif %}
{% endblock %}