{% extends "base.html" %}
{% block content %}
<h1>{{ focus.nazvanie }}</h1>
<p><strong>Страна:</strong> {{ focus.stranaTeg }}</p>
<p>{{ focus.opisanie }}</p>
{% if focus.category %}<p><strong>Категории:</strong> {% for cat in focus.category %}<a href="{{ url_for('main.category', id=cat.id) }}">{{ cat.nazvanie }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>{% endif %}
{% if current_user.is_admin %}<a href="{{ url_for('main.editFocus', id=focus.id) }}">Редактировать</a>{% endif %}
{% endblock %}