{% extends "base.html" %}

{% block content %}
    <h1>{{ mechanic.nazvanie }}</h1>
    <div>{{ mechanic.opisanie }}</div>
    {% if mechanic.category %}
        <p><strong>Категории:</strong>
        {% for cat in mechanic.category %}
            <a href="{{ url_for('main.category', id=cat.id) }}">{{ cat.nazvanie }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
        </p>
    {% endif %}
    {% if current_user.is_admin %}
        <a href="{{ url_for('main.editMechanic', id=mechanic.id) }}">Редактировать</a>
    {% endif %}
{% endblock %}