{% extends "base.html" %}
{% block content %}
<h1>{{ legend }}</h1>
<form method="post">
    {{ forma.hidden_tag() }}
    <div>{{ forma.nazvanie.label }}<br>{{ forma.nazvanie(size=60) }}</div>
    <div>{{ forma.tip.label }}<br>{{ forma.tip() }}</div>
    <div>{{ forma.ataka.label }}<br>{{ forma.ataka() }}</div>
    <div>{{ forma.zashita.label }}<br>{{ forma.zashita() }}</div>
    <div>{{ forma.skorost.label }}<br>{{ forma.skorost() }}</div>
    <div>{{ forma.opisanie.label }}<br>{{ forma.opisanie(rows=5, cols=60) }}</div>
    <div>{{ forma.category.label }}<br>{{ forma.category(size=5) }}</div>
    <div>{{ forma.submit() }}</div>
</form>
{% endblock %}